 <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark bg-dark">
                        <h5>TUYỂN DỤNG</h5>
                       
                    </nav>
                </div>
                <div class="col-md-12">
                    <div class="row" id="form-timkiem">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">

                            <!-- <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search robot" />
                               
                            </div> -->

                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
 </div>